<mat-toolbar color="primary" class="mat-elevation-z1">
    Giphy
    <div fxFlex></div>
    <app-search-field (queryChange)="getSearchResults($event)" [value]="query"></app-search-field>
    <div fxFlex></div>
</mat-toolbar>

<!-- {{ searchResults | json }} -->
<!-- <div class="container"> -->
    <ngx-masonry #masonry [options]="masonryOptions">
        <ng-container *ngIf="searchResults && searchResults.data.length > 0">
            <div ngxMasonryItem class="masonry-item" (click)="openImageViewer(searchResults, i)" *ngFor="let item of searchResults.data; let i = index">
                <img [src]="item.images.downsized_large.url" [alt]="item.title" />
            </div>
        </ng-container>
    </ngx-masonry>
<!-- </div> -->
<app-scroll-to-top></app-scroll-to-top>